.cardContainer {
  max-width: 1300px;
  margin: auto;
  padding: 70px 50px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

/* Tablet */

@media (max-width: 768px) {
  .cardContainer {
    padding: 50px 25px;
    gap: 25px;
  }
}

/* Mobile */

@media (max-width: 480px) {
  .cardContainer {
    grid-template-columns: 1fr;
    padding: 40px 20px;
  }
}
