.searchBox {
  flex: 1;
}

.searchBox form {
  display: flex;
  align-items: center;

  background: #ffffff;

  border: 1px solid #e5e7eb;
  border-radius: 12px;

  overflow: hidden;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

.searchBox input {
  flex: 1;

  border: none;
  outline: none;

  padding: 15px 18px;

  font-size: 16px;
  color: #111827;
}

.searchBox input::placeholder {
  color: #9ca3af;
}

.searchBox button {
  border: none;
  outline: none;

  background: #23629a;
  color: #ffffff;

  width: 58px;
  height: 54px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: 0.3s ease;
}

.searchBox button:hover {
  background: #1b4f7d;
}

.searchBox button svg {
  font-size: 18px;
}

@media (max-width: 768px) {
  .searchBox {
    width: 100%;
  }

  .searchBox input {
    padding: 14px 16px;
    font-size: 15px;
  }

  .searchBox button {
    width: 54px;
    height: 52px;
  }
}
